
h3 {
	color: #CF0404;
}

h1 {
	text-align: center;
}

h2 {
	text-align: left;
}

.intro {
	text-align: center;
}

#search {
	text-align: center;
}

#Classes {
	border-style: inset;
	width: 45%;
	padding: 20px;
	float: left;
}

#Table	{
	border-style: inset;
	width: 45%;
	padding: 20px;
	float: left;
}
